.forum-title {
    padding: 12px 10px;
}

.forum-title.bg-dark {
    background-color: #204b71;
}

.fd-border-right {
    border-right: 1px solid rgb(236, 236, 236);
}

.fd-overflow-lesson {
    height: 390px;
    overflow-x: hidden;
    overflow-y: auto;
}

.fd-space-pull-right {
    margin-left: 5px;
}

.dd-empty {
    display: none !important;
}

table tbody.dd-list {
    display: table-row-group;
}

table tbody.dd-list tr {
    display: table-row;
}

.arb-drag {
    cursor: pointer;
}

.Rtable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 3em 0;
    padding: 0;
}
.Rtable-cell {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    padding: 0.8em 1.2em;
    overflow: hidden;
    list-style: none;
    border: solid 1px whitesmoke;
}
.Rtable-cell > h1,
.Rtable-cell > h2,
.Rtable-cell > h3,
.Rtable-cell > h4,
.Rtable-cell > h5,
.Rtable-cell > h6 {
    margin: 0;
}
/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell {
    width: 50%;
}
.Rtable--3cols > .Rtable-cell {
    width: 33.33%;
}
.Rtable--4cols > .Rtable-cell {
    width: 25%;
}
.Rtable--5cols > .Rtable-cell {
    width: 20%;
}
.Rtable--6cols > .Rtable-cell {
    width: 16.6%;
}

.bg-gray {
    background-color: #f5f5f5;
}